*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Montserrat", sans-serif;
}

/* Darkest */
/* ! #C4DFDF */
/* ? #D2E9E9 */
/* * #E3F4F4 */
/*  #F8F6F4 */

/* Text Colour Dark  */
/* #F0A8D0 */